<h1 class="text-center text-info bg-light p-5" >Friends</h1>
<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row g-3">
        <div *ngFor="let i of data"class="col  col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" >
            <div class=" hemma card m-3 bg-light shadow p-3 mb-5 bg-white rounded" style="width: 18rem; height:12rem">
                <div class="card-body">
                  <h5 class="card-title">{{i.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">id:{{i._id}}</h6>
                  <p class="card-text">Friend :{{i.friendName}} ( {{i.friendNickName}})
                    <br>
  <i class="text-center">{{i.DescribeYourFriend}}</i>
</p>
                </div>
              </div>
        </div>
    </div>
</div>